# Minimal CPU stack for Codespaces
torch==2.3.1+cpu
torchvision==0.18.1+cpu
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

ultralytics==8.2.103
supervision==0.20.0

opencv-python-headless==4.10.0.84
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.4.2
hmmlearn==0.3.2
filterpy==1.4.5
lapx==0.5.9
pydantic==2.11.9
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
moviepy==1.0.3
pandas
matplotlib
streamlit
