runpod==1.6.2
requests==2.32.3
yt-dlp==2024.08.06

numpy==1.26.4
scipy==1.12.0
opencv-python-headless==4.10.0.84

ultralytics==8.2.103
supervision==0.20.0
filterpy==1.4.5
lapx==0.5.9
moviepy==1.0.3
scikit-learn==1.4.2
torch>=2.1.0
torchvision>=0.16.0
fastapi
uvicorn[standard]
python-multipart
python-dotenv
supabase==2.6.0
mediapipe==0.10.0
